[submodule "3rdparty/nodeeditor"]
	path = 3rdparty/nodeeditor
	url = https://github.com/paceholder/nodeeditor.git
[submodule "3rdparty/Qt-Color-Widgets"]
	path = 3rdparty/Qt-Color-Widgets
	url = https://gitlab.com/mattia.basaglia/Qt-Color-Widgets.git
