.floating-menu
{
    z-index: 100;
    position: absolute;

    width: 50px;
    height: 100px;

    background-color: #2d2d2d;

    padding: 0;
}

.trigger-zone
{
    z-index: -1;
    position: relative;
    float: left;
}